.make-appointment {
    display: flex;
    flex-direction: column;
   gap: 40px;
   color: #434444;
   padding: 20px 20px 0 20px;
   height: 100vh;
}

.make-appointment h1 {
    font-size: 3rem;
    text-align: center;
}

.appointment-doctor {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.appointment-doctor img {
    height: 200px;
    width: 190px;
    border-radius: 10px;
}

.info-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.doctor-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.doctor-info h3 {
    font-size: 2rem;
    font-weight: 900;
}

.doctor-info p {
    font-size: 1rem;
    font-weight: 900;
    color: #A6A8AA;
}

.appointment-icons {
    display: flex;
    gap: 10px;
    font-size: 3rem;

}

.call-icon {
    color: #fff;
    background-color: #41BA8D;
    border-radius: 10px;
    padding: 10px;
}

.email-icon {
    color: #fff;
    background-color: #FF9D33;
    border-radius: 10px;
    padding: 10px;
}

.call-icon,
.email-icon {
    transition: transform 0.5s ease;
}

.call-icon:hover,
.email-icon:hover {
    transform: scale(1.2);
}

.call-icon:hover {
    animation: ring 0.5s ease-in-out infinite;
}

.biography {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.schedules {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.schedules-date,
.schedules-time {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date-picker,
.time-picker {
    width: 120px;
}

input:focus {
    border: none;
}

button {
    border: none;
}

.book-btn {
    display: block;
    background-color: #41BA8D;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: auto;
    margin-bottom: 5px;
}

.book-btn:hover {
    background-color: #3b9d93;
}


@keyframes ring {
    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-3px) rotate(3deg);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateY(3px) rotate(-3deg);
    }
}
