.thankyou-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid#eee;
}

.thankyou-content {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.thankyou-content h1 {
    color: #41BA8D;
}

.view-bookings {
    background-color: #41BA8D;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}

.view-bookings:hover {
    background-color: #388569;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

