* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
}

.color-green {
  color: #98BF0C;
}

body {
  height: 100vh;
}

a {
  color: #454545;
  text-decoration: none;
}

.app {
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}