* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.color-blue {
  color: #41BA8D;
}

.font-white {
  color: #fff;
}

body {
  height: 100vh;
  font-family: "Cambria", sans-serif;
}

a {
  color: #454545;
  text-decoration: none;
}

.app {
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
}